#mainbanner-container {
  height: calc(100vh - 78px);
  padding-bottom: 50px;
  min-height: 550px;
  #mainbanner {
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(0.6);
    transition: filter 2s ease-in-out;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

#banner-2-container {
  margin-top: 30px;
}

#home-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.snippet-container {
  padding: 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 70%;
}
