$light-grey: #FAFAFA;

.text-black {
  color: black;
}
.stroke-black {
  stroke: black;
}
.light-grey {
  background-color: $light-grey !important;
}
.black {
  background-color: black !important;
}
.white {
  background-color: white !important;
}
.filter-greyscale {
  filter: grayscale(0.4);
}
