.z-10 {
  z-index: 10;
}

// heights
.h-80px {
  height: 80px;
}
.h-150px {
  height: 150px;
}
.w-150px {
  width: 150px;
}
.h-vh-80 {
  height: 80vh;
}
.h-vh-100 {
  height: 100vh;
}
.h-vh-50 {
  height: 50vh;
}
.h-vh-40 {
  height: 40vh;
}
.h-min-500 {
  min-height: 500px;
}
.h-min-250 {
  min-height: 250px;
}
.h-min-100 {
  min-height: 100px;
}

// margins
.m-v-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}
.m-v-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

// paddings
.p-20px {
  padding: 20px;
}
.p-bottom-50px {
  padding-bottom: 50px;
}
.relative {
  position: relative;
}
.absolute-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  position: absolute;
}

.bg-cover-default {
  background-size: cover;
  background-position: 50% 50%;
}

.padding-10px {
  padding:10px;
}
