.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-size-lg {
  font-size: 1.75rem;
}

.font-size-xlg {
  font-size: 3rem;
}

.line-height-lg {
  line-height: 1.75rem;
  i {
    line-height: 1.75rem;
  }
}

.underline {
  text-decoration: underline;
}
